<div class="row mt-5 justify-content-center">
    <div class="col-md-7">
        <div class="card">
            <img src="../../../assets/images/cover-page.jpg"  alt="Cover Page" height="260">
            <div class="card-body">
                <h3 class="card-title" align="center">Vision</h3>
                <p class="card-text">worldwide-writing-network is a publication on medium and it is a network for passinate authors/writers who believes in 
                    sharing, learning and growing together.
                </p>
                <h4>Sharing</h4>
                <p class="card-text">
                    Knowledge is meant to be share. This act not only helps receiver but also author 
                    to validate and expand their knowledge horizon.
                </p>
                <h4>Learning</h4>
                <p class="card-text">
                    The network provides a great learning opportunity for everyone irrespective of their currently
                    skill level.
                </p>
                <h4>Growing</h4>
                <p>
                    There is no growing along. We believe is helping each other and grow together as a community.
                </p>                
            </div>
        </div>
    </div>
</div>