<div class="row mt-5 justify-content-center">
    <div class="col-md-7">
        <div class="card">
            <img src="../../../assets/images/author-of-the-week.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title bg-warning" align="center">Author of the week</h4>
                <h5 align="center">Kshitiz Dube</h5>
                <p class="card-text">Kshitiz has been writing technical content for more than 5 years. While he is devops Guru,
                    he is very much interested to talk about cloud stuff including GCP and AWS.<br><br>
                    When not writing, he likes to go for cycling, swimming in the sea and play badminton.<br><br>
                    He is passtionate about learning new languages and already know Hindi , Engligh and Romanian. 
                    He is currently focusing on improving his German skills.
                </p>
                <div class="mt-3">
<!--                <fa-icon [icon]="faShareAlt" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faFileExport" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faMedium" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faTwitter" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faYoutube" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faLinkedin" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
                <fa-icon [icon]="faInstagram" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}" [fixedWidth]="true"></fa-icon> 
-->             <div class="fb-share-button" data-href="https://wwn-pub.github.io/#/author-of-the-week" data-layout="button_count" data-size="large">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                </div>
<!--            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> -->
                </div>
            </div>
        </div>
    </div>
</div>