<div class="row mt-5 justify-content-center">
    <div class="col-md-7">
        <div class="card" >
            <div class="card-body">
                <h4 class="card-title bg-warning" align="center">Join Us</h4><br>
                <div>Thank You for your interest. We are grateful to you.</div><br>
                <div>Please follow below steps to be part of this global network.</div><br>
                <ul>
                    <li>Go to <a href="https://www.medium.com" target="_blank">medium.com</a></li>
                    <li>Create a new account if not having one already.</li>
                    <li>Once account is created, please note down the username.</li>
                    <li> <a href="mailto:saraamitdube@gmail.com">Email US</a> with your medium username.</li>
                    <li>You will be added to the publication <a href="https://medium.com/worldwide-writing-network" target="_blank">worldwide-writing-network</a> as writer by us.</li>
                    <li>You will receive email with confirmation once added.</li>
                    <li>Start writing and publish it to the our publication.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
